In [175]:
!cd

C:\Users\jayar\Desktop\IRWA PPRACTICE

Data Preprocessing

In [178]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import ast #JSON string to list
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler
import re #Special Characters

In [180]:
# Load the dataset
file_path = 'tmdb_5000_movies.csv'  
movies_df = pd.read_csv(file_path)

credits_path = 'tmdb_5000_credits.csv'
credits_df = pd.read_csv(credits_path)

In [181]:
movies_df.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [184]:
credits_df.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [186]:
movies_df.shape

(4803, 20)

In [188]:
credits_df.shape

(4803, 4)

In [190]:
#Merging
movies_df = movies_df.merge(credits_df,on = 'title')

In [192]:
movies_df.shape

(4809, 23)

In [194]:
movies_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [196]:
movies_df = movies_df [['movie_id','title','overview','genres','keywords','cast','vote_average','vote_count','popularity','release_date']]

In [198]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,vote_average,vote_count,popularity,release_date
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",7.2,11800,150.437577,2009-12-10
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",6.9,4500,139.082615,2007-05-19
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",6.3,4466,107.376788,2015-10-26
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",7.6,9106,112.312950,2012-07-16
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",6.1,2124,43.926995,2012-03-07

In [200]:
movies_df.shape

(4809, 10)

In [202]:
movies_df.isnull().sum()

movie_id        0
title           0
overview        3
genres          0
keywords        0
cast            0
vote_average    0
vote_count      0
popularity      0
release_date    1
dtype: int64

In [204]:
# Drop rows with missing 'overview' and 'runtime' for content-based filtering.
movies_df = movies_df.dropna(subset=['overview', 'release_date'])

In [206]:
movies_df.isnull().sum()

movie_id        0
title           0
overview        0
genres          0
keywords        0
cast            0
vote_average    0
vote_count      0
popularity      0
release_date    0
dtype: int64

In [208]:
movies_df.duplicated().sum()

0

In [210]:
# Find and print duplicates directly from movies_df
duplicates = movies_df[movies_df.duplicated(subset='title', keep=False)]
print("Duplicates before removal:")
print(duplicates)

# Remove duplicates based on the 'title' column
movies_df = movies_df.drop_duplicates(subset='title', keep='first')

# Reset index if desired
movies_df.reset_index(drop=True, inplace=True)

# Display the DataFrame with duplicates removed
print("\nDataFrame after removing duplicates:")
print(movies_df)

Duplicates before removal:
      movie_id            title  \
972      72710         The Host
973       1255         The Host
1360       268           Batman
1361      2661           Batman
2879     72710         The Host
2880      1255         The Host
3650     39269  Out of the Blue
3651     10844  Out of the Blue
3697     39269  Out of the Blue
3698     10844  Out of the Blue
4272       268           Batman
4273      2661           Batman

                                               overview  \
972   A parasitic alien soul is injected into the bo...
973   A parasitic alien soul is injected into the bo...
1360  The Dark Knight of Gotham City begins his war ...
1361  The Dark Knight of Gotham City begins his war ...
2879  Gang-du is a dim-witted man working at his fat...
2880  Gang-du is a dim-witted man working at his fat...
3650  Dennis Hopper is a hard-drinking truck driver ...
3651  Dennis Hopper is a hard-drinking truck driver ...
3697  Ordinary people find extraordinary courage in ...
3698  Ordinary people find extraordinary courage in ...
4272  The Dynamic Duo faces four super-villains who ...
4273  The Dynamic Duo faces four super-villains who ...

                                                 genres  \
972   [{"id": 28, "name": "Action"}, {"id": 12, "nam...
973   [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1360  [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
1361  [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
2879  [{"id": 27, "name": "Horror"}, {"id": 18, "nam...
2880  [{"id": 27, "name": "Horror"}, {"id": 18, "nam...
3650                      [{"id": 18, "name": "Drama"}]
3651                      [{"id": 18, "name": "Drama"}]
3697                      [{"id": 18, "name": "Drama"}]
3698                      [{"id": 18, "name": "Drama"}]
4272  [{"id": 10751, "name": "Family"}, {"id": 12, "...
4273  [{"id": 10751, "name": "Family"}, {"id": 12, "...

                                               keywords  \
972   [{"id": 818, "name": "based on novel"}, {"id":...
973   [{"id": 818, "name": "based on novel"}, {"id":...
1360  [{"id": 848, "name": "double life"}, {"id": 84...
1361  [{"id": 848, "name": "double life"}, {"id": 84...
2879  [{"id": 1261, "name": "river"}, {"id": 1880, "...
2880  [{"id": 1261, "name": "river"}, {"id": 1880, "...
3650  [{"id": 4470, "name": "punk"}, {"id": 10183, "...
3651  [{"id": 4470, "name": "punk"}, {"id": 10183, "...
3697  [{"id": 2658, "name": "new zealand"}, {"id": 3...
3698  [{"id": 2658, "name": "new zealand"}, {"id": 3...
4272  [{"id": 339, "name": "submarine"}, {"id": 849,...
4273  [{"id": 339, "name": "submarine"}, {"id": 849,...

                                                   cast  vote_average  \
972   [{"cast_id": 52, "character": "Melanie Stryder...           6.0
973   [{"cast_id": 3, "character": "Park Gang-du", "...           6.0
1360  [{"cast_id": 5, "character": "Jack Napier/The ...           7.0
1361  [{"cast_id": 17, "character": "Batman / Bruce ...           7.0
2879  [{"cast_id": 52, "character": "Melanie Stryder...           6.7
2880  [{"cast_id": 3, "character": "Park Gang-du", "...           6.7
3650  [{"cast_id": 2, "character": "Don", "credit_id...           6.5
3651  [{"cast_id": 12, "character": "Nick Harvey", "...           6.5
3697  [{"cast_id": 2, "character": "Don", "credit_id...           5.9
3698  [{"cast_id": 12, "character": "Nick Harvey", "...           5.9
4272  [{"cast_id": 5, "character": "Jack Napier/The ...           6.1
4273  [{"cast_id": 17, "character": "Batman / Bruce ...           6.1

      vote_count  popularity release_date
972         1817   42.933027   2013-03-22
973         1817   42.933027   2013-03-22
1360        2096   44.104469   1989-06-23
1361        2096   44.104469   1989-06-23
2879         537   27.655270   2006-07-27
2880         537   27.655270   2006-07-27
3650          17    0.679351   1980-05-01
3651          17    0.679351   1980-05-01
3697          18    0.706355   2006-10-12
3698          18    0.706355   2006-10-12
4272         203    9.815394   1966-07-30
4273         203    9.815394   1966-07-30

DataFrame after removing duplicates:
      movie_id                                     title  \
0        19995                                    Avatar
1          285  Pirates of the Caribbean: At World's End
2       206647                                   Spectre
3        49026                     The Dark Knight Rises
4        49529                               John Carter
...        ...                                       ...
4791      9367                               El Mariachi
4792     72766                                 Newlyweds
4793    231617                 Signed, Sealed, Delivered
4794    126186                          Shanghai Calling
4795     25975                         My Date with Drew

                                               overview  \
0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bond’s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
...                                                 ...
4791  El Mariachi just wants to play his guitar and ...
4792  A newlywed couple's honeymoon is upended by th...
4793  "Signed, Sealed, Delivered" introduces a dedic...
4794  When ambitious New York attorney Sam is sent t...
4795  Ever since the second grade when he first saw ...

                                                 genres  \
0     [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2     [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3     [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4     [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...                                                 ...
4791  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4792  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4793  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4794                                                 []
4795                [{"id": 99, "name": "Documentary"}]

                                               keywords  \
0     [{"id": 1463, "name": "culture clash"}, {"id":...
1     [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2     [{"id": 470, "name": "spy"}, {"id": 818, "name...
3     [{"id": 849, "name": "dc comics"}, {"id": 853,...
4     [{"id": 818, "name": "based on novel"}, {"id":...
...                                                 ...
4791  [{"id": 5616, "name": "united states\u2013mexi...
4792                                                 []
4793  [{"id": 248, "name": "date"}, {"id": 699, "nam...
4794                                                 []
4795  [{"id": 1523, "name": "obsession"}, {"id": 224...

                                                   cast  vote_average  \
0     [{"cast_id": 242, "character": "Jake Sully", "...           7.2
1     [{"cast_id": 4, "character": "Captain Jack Spa...           6.9
2     [{"cast_id": 1, "character": "James Bond", "cr...           6.3
3     [{"cast_id": 2, "character": "Bruce Wayne / Ba...           7.6
4     [{"cast_id": 5, "character": "John Carter", "c...           6.1
...                                                 ...           ...
4791  [{"cast_id": 1, "character": "El Mariachi", "c...           6.6
4792  [{"cast_id": 1, "character": "Buzzy", "credit_...           5.9
4793  [{"cast_id": 8, "character": "Oliver O\u2019To...           7.0
4794  [{"cast_id": 3, "character": "Sam", "credit_id...           5.7
4795  [{"cast_id": 3, "character": "Herself", "credi...           6.3

      vote_count  popularity release_date
0          11800  150.437577   2009-12-10
1           4500  139.082615   2007-05-19
2           4466  107.376788   2015-10-26
3           9106  112.312950   2012-07-16
4           2124   43.926995   2012-03-07
...          ...         ...          ...
4791         238   14.269792   1992-09-04
4792           5    0.642552   2011-12-26
4793           6    1.444476   2013-10-13
4794           7    0.857008   2012-05-03
4795          16    1.929883   2005-08-05

[4796 rows x 10 columns]

In [212]:
# Convert 'genres' and 'keywords' from JSON-like strings to lists of genre/keyword names.
def parse_json_col(json_col):
    if pd.isna(json_col):
        return []
    return [item['name'] for item in ast.literal_eval(json_col)]

movies_df['genres'] = movies_df['genres'].apply(parse_json_col)
movies_df['keywords'] = movies_df['keywords'].apply(parse_json_col)
movies_df['cast'] = movies_df['cast'].apply(parse_json_col)

In [213]:
movies_df.head(4)

,movie_id,title,overview,genres,keywords,cast,vote_average,vote_count,popularity,release_date
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",7.2,11800,150.437577,2009-12-10
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",6.9,4500,139.082615,2007-05-19
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",6.3,4466,107.376788,2015-10-26
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",7.6,9106,112.312950,2012-07-16

In [214]:
# Tokenize and vectorize the 'overview' column using TF-IDF.
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(movies_df['overview'])

# Store the TF-IDF sparse matrix directly in the DataFrame
#movies_df['overview_tokevec'] = [tfidf_matrix[i, :].toarray().flatten() for i in range(tfidf_matrix.shape[0])]

# Print the DataFrame
print(movies_df[['overview']])

                                               overview
0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bond’s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
...                                                 ...
4791  El Mariachi just wants to play his guitar and ...
4792  A newlywed couple's honeymoon is upended by th...
4793  "Signed, Sealed, Delivered" introduces a dedic...
4794  When ambitious New York attorney Sam is sent t...
4795  Ever since the second grade when he first saw ...

[4796 rows x 1 columns]

In [215]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4796 entries, 0 to 4795
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4796 non-null   int64
 1   title         4796 non-null   object
 2   overview      4796 non-null   object
 3   genres        4796 non-null   object
 4   keywords      4796 non-null   object
 5   cast          4796 non-null   object
 6   vote_average  4796 non-null   float64
 7   vote_count    4796 non-null   int64
 8   popularity    4796 non-null   float64
 9   release_date  4796 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 374.8+ KB

In [216]:
print(tfidf_matrix.shape)

(4796, 20966)

In [222]:
# Normalize 'popularity', 'vote_average', 'vote_count'
scaler = MinMaxScaler()

scaled_columns = ['popularity', 'vote_average', 'vote_count']
movies_df[scaled_columns] = scaler.fit_transform(movies_df[scaled_columns])

In [224]:
# Convert 'release_date' to datetime and extract the year.
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], errors='coerce')
movies_df['release_year'] = movies_df['release_date'].dt.year

In [226]:
### Final Check for Missing Data ###
print("Missing data after preprocessing:")
print(movies_df.isnull().sum())

Missing data after preprocessing:
movie_id        0
title           0
overview        0
genres          0
keywords        0
cast            0
vote_average    0
vote_count      0
popularity      0
release_date    0
release_year    0
dtype: int64

In [228]:
movies_df.head(4)

,movie_id,title,overview,genres,keywords,cast,vote_average,vote_count,popularity,release_date,release_year
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",0.72,0.858057,0.171814,2009-12-10,2009
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",0.69,0.327225,0.158846,2007-05-19,2007
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",0.63,0.324753,0.122634,2015-10-26,2015
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",0.76,0.662158,0.128272,2012-07-16,2012

In [230]:
# Function to check for symbols (excluding common punctuation marks)
def check_for_symbols(column):
    pattern = re.compile(r'[^\w\s.,;:!?\'"\-()]')  
    return movies_df[column].apply(lambda x: bool(pattern.search(str(x))))

# Calculate the total number of titles with symbols
title_symbols_count = check_for_symbols('title').sum()
print(f"Total titles with symbols before dropping: {title_symbols_count}")

Total titles with symbols before dropping: 83

In [232]:
# Drop rows that contain symbols in the title column
movies_df = movies_df[~check_for_symbols('title')]

# Final check to print the total titles with symbols after dropping
final_title_symbols_count = check_for_symbols('title').sum()
print(f"Total titles with symbols after dropping: {final_title_symbols_count}")

Total titles with symbols after dropping: 0

In [234]:
# Function to remove spaces in both lists and strings
def remove_space(word):
    if isinstance(word, list):  # If it's a list, join elements into a string
        # Remove spaces within list elements, then join the list into a single string
        return ', '.join([item.replace(" ", "") for item in word])
    elif isinstance(word, str):  # If it's a string, directly remove spaces
        return word.replace(" ", "")
    else:
        return word  # In case it's neither, just return it as it is

# Apply the function to the relevant columns (excluding 'overview')
movies_df['cast'] = movies_df['cast'].apply(remove_space)
movies_df['genres'] = movies_df['genres'].apply(remove_space)
movies_df['keywords'] = movies_df['keywords'].apply(remove_space)

# Ensure no missing values (NaN) before concatenating
movies_df['genres'] = movies_df['genres'].fillna('')
movies_df['keywords'] = movies_df['keywords'].fillna('')
movies_df['cast'] = movies_df['cast'].fillna('')

# Create the 'tags' column by concatenating the cleaned 'genres', 'keywords', and 'cast' columns
movies_df['tags'] = movies_df['genres'] + ' ' + movies_df['keywords'] + ' ' + movies_df['cast']

# Display the resulting DataFrame with 'title' and 'tags' columns
print(movies_df[['title', 'tags']].head())

                                      title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                                tags
0  Action, Adventure, Fantasy, ScienceFiction cul...
1  Adventure, Fantasy, Action ocean, drugabuse, e...
2  Action, Adventure, Crime spy, basedonnovel, se...
3  Action, Crime, Drama, Thriller dccomics, crime...
4  Action, Adventure, ScienceFiction basedonnovel...

In [236]:
movies_df.head(4)

,movie_id,title,overview,genres,keywords,cast,vote_average,vote_count,popularity,release_date,release_year,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, ScienceFiction","cultureclash, future, spacewar, spacecolony, s...","SamWorthington, ZoeSaldana, SigourneyWeaver, S...",0.72,0.858057,0.171814,2009-12-10,2009,"Action, Adventure, Fantasy, ScienceFiction cul..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","Adventure, Fantasy, Action","ocean, drugabuse, exoticisland, eastindiatradi...","JohnnyDepp, OrlandoBloom, KeiraKnightley, Stel...",0.69,0.327225,0.158846,2007-05-19,2007,"Adventure, Fantasy, Action ocean, drugabuse, e..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"Action, Adventure, Crime","spy, basedonnovel, secretagent, sequel, mi6, b...","DanielCraig, ChristophWaltz, LéaSeydoux, Ralph...",0.63,0.324753,0.122634,2015-10-26,2015,"Action, Adventure, Crime spy, basedonnovel, se..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"Action, Crime, Drama, Thriller","dccomics, crimefighter, terrorist, secretident...","ChristianBale, MichaelCaine, GaryOldman, AnneH...",0.76,0.662158,0.128272,2012-07-16,2012,"Action, Crime, Drama, Thriller dccomics, crime..."

In [239]:
# Create the 'tags' column by concatenating the cleaned string columns
movies_df['tags'] =  movies_df['title'] + movies_df['overview'] +  movies_df['genres'] +   movies_df['keywords'] +  movies_df['cast']
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,vote_average,vote_count,popularity,release_date,release_year,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, ScienceFiction","cultureclash, future, spacewar, spacecolony, s...","SamWorthington, ZoeSaldana, SigourneyWeaver, S...",0.72,0.858057,0.171814,2009-12-10,2009,"AvatarIn the 22nd century, a paraplegic Marine..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","Adventure, Fantasy, Action","ocean, drugabuse, exoticisland, eastindiatradi...","JohnnyDepp, OrlandoBloom, KeiraKnightley, Stel...",0.69,0.327225,0.158846,2007-05-19,2007,Pirates of the Caribbean: At World's EndCaptai...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"Action, Adventure, Crime","spy, basedonnovel, secretagent, sequel, mi6, b...","DanielCraig, ChristophWaltz, LéaSeydoux, Ralph...",0.63,0.324753,0.122634,2015-10-26,2015,SpectreA cryptic message from Bond’s past send...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"Action, Crime, Drama, Thriller","dccomics, crimefighter, terrorist, secretident...","ChristianBale, MichaelCaine, GaryOldman, AnneH...",0.76,0.662158,0.128272,2012-07-16,2012,The Dark Knight RisesFollowing the death of Di...
4,49529,John Carter,"John Carter is a war-weary, former military ca...","Action, Adventure, ScienceFiction","basedonnovel, mars, medallion, spacetravel, pr...","TaylorKitsch, LynnCollins, SamanthaMorton, Wil...",0.61,0.154450,0.050169,2012-03-07,2012,"John CarterJohn Carter is a war-weary, former ..."

In [241]:
new_movie_df = movies_df [['movie_id','title','tags','vote_average','vote_count','popularity','release_year']]
new_movie_df.head()

,movie_id,title,tags,vote_average,vote_count,popularity,release_year
0,19995,Avatar,"AvatarIn the 22nd century, a paraplegic Marine...",0.72,0.858057,0.171814,2009
1,285,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's EndCaptai...,0.69,0.327225,0.158846,2007
2,206647,Spectre,SpectreA cryptic message from Bond’s past send...,0.63,0.324753,0.122634,2015
3,49026,The Dark Knight Rises,The Dark Knight RisesFollowing the death of Di...,0.76,0.662158,0.128272,2012
4,49529,John Carter,"John CarterJohn Carter is a war-weary, former ...",0.61,0.154450,0.050169,2012

In [243]:
# Join list elements in 'tags' column into a single string separated by commas
movies_df['tags'] = movies_df['tags'].apply(lambda x: ", ".join(x) if isinstance(x, list) else x)

# Convert the 'tags' column to lowercase
movies_df['tags'] = movies_df['tags'].apply(lambda x: x.lower() if isinstance(x, str) else x)

# Display the DataFrame to check the result
print(movies_df.head())

   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                            overview  \
0  In the 22nd century, a paraplegic Marine is di...
1  Captain Barbossa, long believed to be dead, ha...
2  A cryptic message from Bond’s past sends him o...
3  Following the death of District Attorney Harve...
4  John Carter is a war-weary, former military ca...

                                       genres  \
0  Action, Adventure, Fantasy, ScienceFiction
1                  Adventure, Fantasy, Action
2                    Action, Adventure, Crime
3              Action, Crime, Drama, Thriller
4           Action, Adventure, ScienceFiction

                                            keywords  \
0  cultureclash, future, spacewar, spacecolony, s...
1  ocean, drugabuse, exoticisland, eastindiatradi...
2  spy, basedonnovel, secretagent, sequel, mi6, b...
3  dccomics, crimefighter, terrorist, secretident...
4  basedonnovel, mars, medallion, spacetravel, pr...

                                                cast  vote_average  \
0  SamWorthington, ZoeSaldana, SigourneyWeaver, S...          0.72
1  JohnnyDepp, OrlandoBloom, KeiraKnightley, Stel...          0.69
2  DanielCraig, ChristophWaltz, LéaSeydoux, Ralph...          0.63
3  ChristianBale, MichaelCaine, GaryOldman, AnneH...          0.76
4  TaylorKitsch, LynnCollins, SamanthaMorton, Wil...          0.61

   vote_count  popularity release_date  release_year  \
0    0.858057    0.171814   2009-12-10          2009
1    0.327225    0.158846   2007-05-19          2007
2    0.324753    0.122634   2015-10-26          2015
3    0.662158    0.128272   2012-07-16          2012
4    0.154450    0.050169   2012-03-07          2012

                                                tags
0  avatarin the 22nd century, a paraplegic marine...
1  pirates of the caribbean: at world's endcaptai...
2  spectrea cryptic message from bond’s past send...
3  the dark knight risesfollowing the death of di...
4  john carterjohn carter is a war-weary, former ...

In [245]:
movies_df.iloc[0]['tags']

'avatarin the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.action, adventure, fantasy, sciencefictioncultureclash, future, spacewar, spacecolony, society, spacetravel, futuristic, romance, space, alien, tribe, alienplanet, cgi, marine, soldier, battle, loveaffair, antiwar, powerrelations, mindandsoul, 3dsamworthington, zoesaldana, sigourneyweaver, stephenlang, michellerodriguez, giovanniribisi, joeldavidmoore, cchpounder, wesstudi, lazalonso, dileeprao, mattgerald, seananthonymoran, jasonwhyte, scottlawrence, kellykilgour, jamespatrickpitt, seanpatrickmurphy, peterdillon, kevindorman, kelsonhenderson, davidvanhorn, jacobtomuri, michaelblain-rozgay, joncurry, lukehawker, woodyschultz, petermensah, soniayee, jahnelcurfman, ilramchoi, kylawarren, lisaroumain, debrawilson, chrismala, taylorkibby, jodielandau, julielamm, cullenb.madden, josephbradymadden, frankietorres, austinwilson, sarawilson, tamicawashington-miller, lucybriant, nathanmeister, gerryblair, matthewchamberlain, paulyates, wraywilson, jamesgaylyn, melvinlenoclarkiii, carvonfutrell, brandonjelkes, micahmoch, hanniyahmuhammad, christophernolen, christaoliver, aprilmariethomas, bravitaa.threatt, colinbleasdale, mikebodnar, mattclayton, nicoledionne, jamieharrison, allanhenry, anthonyingruber, ashleyjeffery, deanknowsley, josephmika-hunt, terrynotary, kaipantano, loganpithyou, stuartpollock, raja, garethruck, rhiansheehan, t.j.storm, jodietaylor, aliciavela-bailey, richardwhiteside, nikiezambo, julenerenee'

In [247]:
import nltk
from nltk.stem import PorterStemmer

In [249]:
ps = PorterStemmer()

def stem_words(text):
    word = []
    for i in text.split():
        word.append(ps.stem(i))
    return " ".join(word)

In [251]:
movies_df['tags'] = movies_df['tags'].apply(stem_words)

In [252]:
movies_df.iloc[0]['tags']

'avatarin the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization.action, adventure, fantasy, sciencefictioncultureclash, future, spacewar, spacecolony, society, spacetravel, futuristic, romance, space, alien, tribe, alienplanet, cgi, marine, soldier, battle, loveaffair, antiwar, powerrelations, mindandsoul, 3dsamworthington, zoesaldana, sigourneyweaver, stephenlang, michellerodriguez, giovanniribisi, joeldavidmoore, cchpounder, wesstudi, lazalonso, dileeprao, mattgerald, seananthonymoran, jasonwhyte, scottlawrence, kellykilgour, jamespatrickpitt, seanpatrickmurphy, peterdillon, kevindorman, kelsonhenderson, davidvanhorn, jacobtomuri, michaelblain-rozgay, joncurry, lukehawker, woodyschultz, petermensah, soniayee, jahnelcurfman, ilramchoi, kylawarren, lisaroumain, debrawilson, chrismala, taylorkibby, jodielandau, julielamm, cullenb.madden, josephbradymadden, frankietorres, austinwilson, sarawilson, tamicawashington-miller, lucybriant, nathanmeister, gerryblair, matthewchamberlain, paulyates, wraywilson, jamesgaylyn, melvinlenoclarkiii, carvonfutrell, brandonjelkes, micahmoch, hanniyahmuhammad, christophernolen, christaoliver, aprilmariethomas, bravitaa.threatt, colinbleasdale, mikebodnar, mattclayton, nicoledionne, jamieharrison, allanhenry, anthonyingruber, ashleyjeffery, deanknowsley, josephmika-hunt, terrynotary, kaipantano, loganpithyou, stuartpollock, raja, garethruck, rhiansheehan, t.j.storm, jodietaylor, aliciavela-bailey, richardwhiteside, nikiezambo, julenerene'

In [253]:
movies_df = movies_df[['movie_id','title','tags','vote_average','vote_count','popularity','release_year']]
new_movie_df.head()

,movie_id,title,tags,vote_average,vote_count,popularity,release_year
0,19995,Avatar,"AvatarIn the 22nd century, a paraplegic Marine...",0.72,0.858057,0.171814,2009
1,285,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's EndCaptai...,0.69,0.327225,0.158846,2007
2,206647,Spectre,SpectreA cryptic message from Bond’s past send...,0.63,0.324753,0.122634,2015
3,49026,The Dark Knight Rises,The Dark Knight RisesFollowing the death of Di...,0.76,0.662158,0.128272,2012
4,49529,John Carter,"John CarterJohn Carter is a war-weary, former ...",0.61,0.154450,0.050169,2012

In [254]:
# Save the cleaned dataset
movies_df.to_csv('new_tmdb_5000_movies.csv', index=False)

Content Based Filtering

In [256]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [257]:
vector = cv.fit_transform(movies_df['tags']).toarray()
similarity_value = cosine_similarity(vector)
similarity_value

array([[1.        , 0.04941662, 0.05661385, ..., 0.02335709, 0.02199529,
        0.        ],
       [0.04941662, 1.        , 0.05455447, ..., 0.04501491, 0.        ,
        0.02250746],
       [0.05661385, 0.05455447, 1.        , ..., 0.02578553, 0.        ,
        0.        ],
       ...,
       [0.02335709, 0.04501491, 0.02578553, ..., 1.        , 0.06010829,
        0.0212766 ],
       [0.02199529, 0.        , 0.        , ..., 0.06010829, 1.        ,
        0.08014439],
       [0.        , 0.02250746, 0.        , ..., 0.0212766 , 0.08014439,
        1.        ]])

In [258]:
movies_df[movies_df['title'] == 'Spider-Man 3'].index[0]

5

In [264]:
# def recommend(movie):
#     index = movies_df[movies_df['title'] == movie].index[0]
#     distances = sorted(list(enumerate(similarity_value[index])), reverse = True, key = lambda x: x[1])
    
#     for i in distances[1:10]:
#         print(movies_df.iloc[i[0]].title)

In [265]:
def recommend(movie):
    index = movies_df[movies_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity_value[index])), reverse=True, key=lambda x: x[1])
    
    recommended_movies = []
    for i in distances[1:10]:  # Exclude the first one as it's the movie itself
        recommended_movies.append(movies_df.iloc[i[0]].title)
    
    return recommended_movies  # Return the list of recommended movie titles

In [266]:
recommend('The Dark Knight Rises')

['The Dark Knight',
 'Batman Forever',
 'Batman',
 'Batman Begins',
 'Batman Returns',
 'Nighthawks',
 'City By The Sea',
 'Slow Burn',
 'Batman: The Dark Knight Returns, Part 2']

In [291]:
import pickle

pickle.dump(movies_df,open('movies_list.pkl','wb'))
pickle.dump(similarity_value,open('similarity_value.pkl','wb'))

In [293]:
pickle.load(open('movies_list.pkl','rb'))

,movie_id,title,tags,vote_average,vote_count,popularity,release_year
0,19995,Avatar,"avatarin the 22nd century, a parapleg marin is...",0.72,0.858057,0.171814,2009
1,285,Pirates of the Caribbean: At World's End,pirat of the caribbean: at world' endcaptain b...,0.69,0.327225,0.158846,2007
2,206647,Spectre,spectrea cryptic messag from bond’ past send h...,0.63,0.324753,0.122634,2015
3,49026,The Dark Knight Rises,the dark knight risesfollow the death of distr...,0.76,0.662158,0.128272,2012
4,49529,John Carter,"john carterjohn carter is a war-weary, former ...",0.61,0.154450,0.050169,2012
...,...,...,...,...,...,...,...
4791,9367,El Mariachi,el mariachiel mariachi just want to play hi gu...,0.66,0.017307,0.016297,1992
4792,72766,Newlyweds,newlywedsa newlyw couple' honeymoon is upend b...,0.59,0.000364,0.000733,2011
4793,231617,"Signed, Sealed, Delivered","signed, sealed, delivered""signed, sealed, deli...",0.70,0.000436,0.001649,2013
4794,126186,Shanghai Calling,shanghai callingwhen ambiti new york attorney ...,0.57,0.000509,0.000978,2012
4795,25975,My Date with Drew,my date with drewev sinc the second grade when...,0.63,0.001163,0.002204,2005

Collaborative filtering

In [277]:
# Step 1: Load the ratings data
ratings = pd.read_csv('ratings_new.csv')


ratings = ratings[['userId','movie_id','rating']]
ratings.head()

   userId  movie_id  rating
0       1     19995     2.5
1       1       285     3.0
2       1    206647     3.0
3       1     49026     2.0
4       1     49529     4.0

In [295]:
# Step 3: Merge the two datasets on movie_id
merged_df = pd.merge(ratings, movies_df, on='movie_id')

# Step 4: Check the merged dataset
print(merged_df.head())

# Save the merged dataset
merged_df.to_csv('new_merged_movies.csv', index=False)

   userId  movie_id  rating                                     title  \
0       1     19995     2.5                                    Avatar
1       1       285     3.0  Pirates of the Caribbean: At World's End
2       1    206647     3.0                                   Spectre
3       1     49026     2.0                     The Dark Knight Rises
4       1     49529     4.0                               John Carter

                                                tags  vote_average  \
0  avatarin the 22nd century, a parapleg marin is...          0.72
1  pirat of the caribbean: at world' endcaptain b...          0.69
2  spectrea cryptic messag from bond’ past send h...          0.63
3  the dark knight risesfollow the death of distr...          0.76
4  john carterjohn carter is a war-weary, former ...          0.61

   vote_count  popularity  release_year
0    0.858057    0.171814          2009
1    0.327225    0.158846          2007
2    0.324753    0.122634          2015
3    0.662158    0.128272          2012
4    0.154450    0.050169          2012

In [297]:
# Ensure movie_id is an integer
merged_df['movie_id'] = merged_df['movie_id'].astype(int)

In [299]:
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

# Step 1: Pivot the data to get a user-movie matrix
user_movie_matrix = merged_df.pivot_table(index='userId', columns='movie_id', values='rating')

# Step 2: Normalize by subtracting the mean rating for each user
user_movie_matrix_mean = user_movie_matrix.subtract(user_movie_matrix.mean(axis=1), axis=0)

# Step 3: Compute cosine similarity between users
user_similarity = cosine_similarity(user_movie_matrix_mean.fillna(0))

# Convert the similarity matrix into a DataFrame
user_similarity_df = pd.DataFrame(user_similarity, index=user_movie_matrix.index, columns=user_movie_matrix.index)

def recommend_movies_collaborative(user_id, num_recommendations=5):
    # Get the similarity scores for the target user
    similar_users = user_similarity_df[user_id].sort_values(ascending=False)

    # Movies the user has already watched
    user_watched_movies = user_movie_matrix.loc[user_id].dropna().index.tolist()

    # Debug: Print watched movies
    print(f"User {user_id} has watched movies: {user_watched_movies}")

    # Initialize an empty Series to store movie recommendations
    recommended_movies = pd.Series(dtype=float)

    # Loop through similar users to gather movies they rated highly
    for similar_user_id in similar_users.index[1:]:
        similar_user_ratings = user_movie_matrix.loc[similar_user_id].dropna()

        # Debug: Print similar user ratings
        print(f"Similar User {similar_user_id} ratings: {similar_user_ratings}")

        # Filter out movies the target user has already watched
        new_movies = similar_user_ratings[~similar_user_ratings.index.isin(user_watched_movies)]
        
        # Debug: Print new movies found
        print(f"New movies from User {similar_user_id} for User {user_id}: {new_movies.index.tolist()}")

        # Add these movies to the recommendation list
        recommended_movies = pd.concat([recommended_movies, new_movies])

        # Stop if we've gathered enough recommendations
        if len(recommended_movies) >= num_recommendations:
            break
    
    # Get the top N recommended movie IDs
    if not recommended_movies.empty:
        recommended_movie_ids = recommended_movies.sort_values(ascending=False).head(num_recommendations).index.tolist()
        
        # Step 5: Map the movie IDs to their titles
        recommended_movie_titles = merged_df.loc[merged_df['movie_id'].isin(recommended_movie_ids), 'title'].unique()
        return recommended_movie_titles, recommended_movie_ids  # Return both titles and IDs
    else:
        return [], []  # Return empty lists if no recommendations were found

# Example: Prompt user for ID and recommend 5 movies
user_id_input = int(input("Enter user ID: "))
recommended_titles, recommended_ids = recommend_movies_collaborative(user_id=user_id_input, num_recommendations=5)

print("Recommended movie titles for User", user_id_input, ":")
for title in recommended_titles:
    print(title)

Enter user ID:  1

User 1 has watched movies: [58, 285, 559, 767, 1452, 1865, 2454, 10764, 19995, 24428, 38757, 41154, 49026, 49521, 49529, 57201, 99861, 122917, 206647, 209112]
Similar User 13 ratings: movie_id
66        3.5
231       3.0
306       3.5
388       3.0
462       4.0
588       4.5
628       5.0
752       3.0
928       4.5
1577      4.0
2022      2.5
2112      4.0
2116      4.5
2251      3.5
2649      3.5
4421      4.5
6038      3.0
6623      4.0
6877      4.0
6950      3.5
8920      4.0
9441      3.5
9624      3.0
9631      4.0
9754      2.5
9801      4.5
9919      3.5
9975      3.0
10201     4.5
10320     2.5
10329     4.0
10393     4.0
11451     3.0
12103     4.0
13673     4.0
13811     3.0
13836     3.0
37686     4.0
46529     3.5
50646     3.0
60308     3.0
71552     4.5
74465     3.5
109443    5.0
187017    4.5
205587    4.5
216282    4.5
224141    4.0
225574    4.0
228326    4.5
274167    4.0
300671    4.0
302699    3.0
Name: 13, dtype: float64
New movies from User 13 for User 1: [66, 231, 306, 388, 462, 588, 628, 752, 928, 1577, 2022, 2112, 2116, 2251, 2649, 4421, 6038, 6623, 6877, 6950, 8920, 9441, 9624, 9631, 9754, 9801, 9919, 9975, 10201, 10320, 10329, 10393, 11451, 12103, 13673, 13811, 13836, 37686, 46529, 50646, 60308, 71552, 74465, 109443, 187017, 205587, 216282, 224141, 225574, 228326, 274167, 300671, 302699]
Recommended movie titles for User 1 :
Anchorman 2: The Legend Continues
Interview with the Vampire
G.I. Jane
Into the Storm
The Judge

C:\Users\jayar\AppData\Local\Temp\ipykernel_13988\607047629.py:43: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  recommended_movies = pd.concat([recommended_movies, new_movies])

In [301]:
merged_df.columns

Index(['userId', 'movie_id', 'rating', 'title', 'tags', 'vote_average',
       'vote_count', 'popularity', 'release_year'],
      dtype='object')

In [311]:
import pandas as pd
import pickle

# Assuming merged_df is your DataFrame that you want to save
# Replace this line with your existing code to create merged_df if needed
# merged_df = pd.DataFrame(...)  # Example of creating a DataFrame

# Save merged_df to a pickle file
with open('merged_df.pkl', 'wb') as f:
    pickle.dump(merged_df, f)

print("merged_df has been saved as merged_df.pkl.")

merged_df has been saved as merged_df.pkl.

In [313]:
with open('merged_df.pkl', 'rb') as f:
    loaded_merged_df = pickle.load(f)

print(loaded_merged_df.head())  # Print the first few rows to verify

   userId  movie_id  rating                                     title  \
0       1     19995     2.5                                    Avatar
1       1       285     3.0  Pirates of the Caribbean: At World's End
2       1    206647     3.0                                   Spectre
3       1     49026     2.0                     The Dark Knight Rises
4       1     49529     4.0                               John Carter

                                                tags  vote_average  \
0  avatarin the 22nd century, a parapleg marin is...          0.72
1  pirat of the caribbean: at world' endcaptain b...          0.69
2  spectrea cryptic messag from bond’ past send h...          0.63
3  the dark knight risesfollow the death of distr...          0.76
4  john carterjohn carter is a war-weary, former ...          0.61

   vote_count  popularity  release_year
0    0.858057    0.171814          2009
1    0.327225    0.158846          2007
2    0.324753    0.122634          2015
3    0.662158    0.128272          2012
4    0.154450    0.050169          2012

In [307]:
import pickle

# Save the user_movie_matrix and user_similarity_df to a pickle file
with open('user_movie_recommendation.pkl', 'wb') as f:
    pickle.dump((user_movie_matrix, user_similarity_df), f)

Evaluation and Testing

In [106]:
from sklearn.metrics import precision_score, recall_score, f1_score

def evaluate_recommendations(movie, relevant_movies):
    # Get recommended movie titles
    recommended_movies = recommend(movie)
    
    # Check if the recommended_movies is None or empty
    if recommended_movies is None or len(recommended_movies) == 0:
        print("No recommendations available for the movie:", movie)
        return

    print("Recommended Movies:", recommended_movies)  # Debug: Show recommended movies

    # Create a set of all unique movie titles from both relevant and recommended lists
    all_movies = set(recommended_movies).union(set(relevant_movies))

    # Generate binary lists based on the presence in recommended and relevant movies
    y_true = [1 if movie in relevant_movies else 0 for movie in all_movies]
    y_pred = [1 if movie in recommended_movies else 0 for movie in all_movies]

    # Debugging prints
    print("Relevant Movies:", relevant_movies)  # Debug: Show relevant movies
    print("All Movies:", all_movies)  # Debug: Show all unique movies being compared
    print("Binary True Labels:", y_true)  # Debug: Show binary true labels
    print("Binary Predicted Labels:", y_pred)  # Debug: Show binary predicted labels

    # Handle case where no recommendations or relevant movies exist
    if len(recommended_movies) == 0 or len(relevant_movies) == 0:
        print("No recommendations or relevant movies found.")
        return

    # Calculate Precision, Recall, and F1-Score
    precision = precision_score(y_true, y_pred, zero_division=0)
    recall = recall_score(y_true, y_pred, zero_division=0)
    f1 = f1_score(y_true, y_pred, zero_division=0)

    print(f"Precision: {precision:.2f}")
    print(f"Recall: {recall:.2f}")
    print(f"F1-Score: {f1:.2f}")

# Example usage
relevant_movies = ['The Dark Knight', 'Batman Forever', 'Batman', 'Batman Begins']  # Replace with actual relevant movies
evaluate_recommendations('The Dark Knight Rises', relevant_movies)

Recommended Movies: ['The Dark Knight', 'Batman Forever', 'Batman', 'Batman Begins', 'Batman Returns', 'Nighthawks', 'City By The Sea', 'Slow Burn', 'Batman: The Dark Knight Returns, Part 2']
Relevant Movies: ['The Dark Knight', 'Batman Forever', 'Batman', 'Batman Begins']
All Movies: {'Batman Returns', 'Batman Begins', 'Batman Forever', 'The Dark Knight', 'Slow Burn', 'Batman', 'Nighthawks', 'City By The Sea', 'Batman: The Dark Knight Returns, Part 2'}
Binary True Labels: [0, 1, 1, 1, 0, 1, 0, 0, 0]
Binary Predicted Labels: [1, 1, 1, 1, 1, 1, 1, 1, 1]
Precision: 0.44
Recall: 1.00
F1-Score: 0.62

In [165]:
def evaluate_recommendations(user_id, num_recommendations=5, threshold=3.0):
    # Get recommended movie titles and IDs
    recommended_movie_titles, recommended_movie_ids = recommend_movies_collaborative(user_id=user_id, num_recommendations=num_recommendations)
    
    # Get relevant (ground truth) movies the user rated highly
    relevant_movies = get_relevant_movies(user_id, threshold=threshold)

    # Debug: Print relevant movies
    print("Relevant Movies for User:", relevant_movies)

    # Debug: Print recommended movie IDs
    print("Recommended Movie IDs:", recommended_movie_ids)

    # Ensure both lists are not empty before proceeding
    if not relevant_movies or not recommended_movie_ids:
        print("No relevant movies or recommended movies found for evaluation.")
        return

    # Convert to binary lists for comparison
    y_true = [1 if movie in relevant_movies else 0 for movie in merged_df['movie_id']]
    y_pred = [1 if movie in recommended_movie_ids else 0 for movie in merged_df['movie_id']]

    # Debug: Print y_true and y_pred
    print("y_true:", y_true)
    print("y_pred:", y_pred)

    # Calculate Precision, Recall, and F1-Score
    precision = precision_score(y_true, y_pred, zero_division=0)
    recall = recall_score(y_true, y_pred, zero_division=0)
    f1 = f1_score(y_true, y_pred, zero_division=0)

    # Print the results
    print(f"Precision: {precision:.2f}")
    print(f"Recall: {recall:.2f}")
    print(f"F1-Score: {f1:.2f}")

# Example usage
user_id_input = int(input("Enter user ID: "))  # Replace with an actual user ID
evaluate_recommendations(user_id=user_id_input, num_recommendations=5)

Enter user ID:  1

User 1 has watched movies: [58, 285, 559, 767, 1452, 1865, 2454, 10764, 19995, 24428, 38757, 41154, 49026, 49521, 49529, 57201, 99861, 122917, 206647, 209112]
Similar User 13 ratings: movie_id
66        3.5
231       3.0
306       3.5
388       3.0
462       4.0
588       4.5
628       5.0
752       3.0
928       4.5
1577      4.0
2022      2.5
2112      4.0
2116      4.5
2251      3.5
2649      3.5
4421      4.5
6038      3.0
6623      4.0
6877      4.0
6950      3.5
8920      4.0
9441      3.5
9624      3.0
9631      4.0
9754      2.5
9801      4.5
9919      3.5
9975      3.0
10201     4.5
10320     2.5
10329     4.0
10393     4.0
11451     3.0
12103     4.0
13673     4.0
13811     3.0
13836     3.0
37686     4.0
46529     3.5
50646     3.0
60308     3.0
71552     4.5
74465     3.5
109443    5.0
187017    4.5
205587    4.5
216282    4.5
224141    4.0
225574    4.0
228326    4.5
274167    4.0
300671    4.0
302699    3.0
Name: 13, dtype: float64
New movies from User 13 for User 1: [66, 231, 306, 388, 462, 588, 628, 752, 928, 1577, 2022, 2112, 2116, 2251, 2649, 4421, 6038, 6623, 6877, 6950, 8920, 9441, 9624, 9631, 9754, 9801, 9919, 9975, 10201, 10320, 10329, 10393, 11451, 12103, 13673, 13811, 13836, 37686, 46529, 50646, 60308, 71552, 74465, 109443, 187017, 205587, 216282, 224141, 225574, 228326, 274167, 300671, 302699]
Relevant Movies for User: [285, 206647, 49529, 767, 58, 57201, 49521, 122917]
Recommended Movie IDs: [109443, 628, 205587, 216282, 4421]
y_true: [0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

C:\Users\jayar\AppData\Local\Temp\ipykernel_13988\607047629.py:43: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  recommended_movies = pd.concat([recommended_movies, new_movies])